.SEEP-centered {
    width:40%;
    z-index:1001;
    top:190px;
    left:615.5px;
    display:inline-block;
    margin-top:-95.5px;
    margin-left:-216px;
    overflow:auto;
    height:70%;   
}
.ownURL {
    border-radius: 5px;
    width: 70%;
    padding: 5px;
}
.go {
    padding: 5px;
    border-radius: 5px;
    color: black;
    background-color: lightgreen;
}
.DDG-go {
    float: right;
}
hr.or {
    border: 0;
    border-top: 1px solid whitesmoke;
    text-align: center;
}
hr.or:after {
    content:"or...";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.1em;
    padding: 0.2em;
    background: whitesmoke;
}
.DDG-container {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 2%;
}
.DDG-credit {
    font-size: 0.8em;
}

#SEEP-aceEditor>#editor {
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 0;
}

.SEEP-aceLanguages {
    float: right;
}
}
